<html lang="de">
<head>
    <title>Gibson OS Cast</title>
    <link rel="stylesheet" type="text/css" href="/css/chromecast.css" />
    <script src="//www.gstatic.com/cast/sdk/libs/caf_receiver/v3/cast_receiver_framework.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/chromecast.js"></script>
</head>
<body>

    <main>
        <h1 id="title"></h1>
        <div id="image">
            <div id="nextFiles"></div>
        </div>
        <video id="media"></video>
        <div id="timeline">
            <div class="duration"></div>
            <div class="bar">
                <hr />
                <div class="position">
                    <hr/>
                </div>
            </div>
            <div class="currentPosition"></div>
        </div>
    </main>

    <footer>
        <h1 id="time">00:00</h1>
        <ul></ul>
    </footer>

    <div id="messageContainer">
        <div id="messageImage"></div>
        <div id="message"></div>
    </div>

    <div id="debug"></div>

</body>
</html>